.article {
  padding: 7px 10px;
  color: #333;
  background: #fff;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 420px;
  min-width: 80px;
  margin: 10px 5px;
  word-wrap: break-word;
}

.container {
  padding: 5px 0;
  background-color: rgb(236, 236, 236);
}

.image {
  width: 100%;
  
}