<virtual-list (scrollEnd)="scrollEnd()">
  <div *virtualFor="
    let item of data;
    let i = index;
    tombstone: tombstone;
    tombstoneHeight: 100,
    animationDuration: 200
  ">
    <article class="article">
      {{i}}
      <div *ngIf="item?.image" class="image-container">
        <img [src]="item.image">
      </div>
      {{item?.text}}
    </article>
  </div>
</virtual-list>

<div class="loader" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<ng-template #tombstone>
  <article class="article fixed-height-article"></article>
</ng-template>