<virtual-list (scrollEnd)="scrollEnd()">
  <div class="list-item" *virtualFor="
  let item of data;
  let i = index;
  tombstone: tombstone;
  ">
    <article class="article" (click)="expand(data.indexOf(item))">
      {{data.indexOf(item)}}
      <!-- <div *ngIf="item?.image" class="image-container">
        <img [src]="item.image">
      </div> -->
      {{item?.text}}
    </article>
  </div>
</virtual-list>
<ng-template #tombstone>
  <div class="tombstone-container list-item tombstone">
    <article class="article fixed-height-article"></article>
  </div>
</ng-template>
